services:
  - name: proxy
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: Proxy/Dockerfile
    healthCheckPath: /

  - name: movieapi1
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: MovieAPI/Dockerfile
    envVars:
      - key: MongoDbSettings__ConnectionString
        value: mongodb://mongo:27017
      - key: MongoDbSettings__DatabaseName
        value: movie1
      - key: SyncServiceSettings__Host
        value: http://syncnode:5000/sync
      - key: SyncServiceSettings__DeleteHttpMethod
        value: DELETE
      - key: SyncServiceSettings__UpsertHttpMethod
        value: POST

  - name: movieapi2
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: MovieAPI/Dockerfile
    envVars:
      - key: MongoDbSettings__ConnectionString
        value: mongodb://mongo:27017
      - key: MongoDbSettings__DatabaseName
        value: movie2
      - key: SyncServiceSettings__Host
        value: http://syncnode:5000/sync
      - key: SyncServiceSettings__DeleteHttpMethod
        value: DELETE
      - key: SyncServiceSettings__UpsertHttpMethod
        value: POST

  - name: syncnode
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: SyncNode/Dockerfile
    envVars:
      - key: MovieAPISettings__Hosts__0
        value: http://movieapi1:8080/api
      - key: MovieAPISettings__Hosts__1
        value: http://movieapi2:8080/api

  - name: mongo
    type: web
    env: docker
    branch: master
    plan: free
    image:
      url: mongo:6.0
    autoDeploy: false
