services:
  - name: proxy
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: Proxy/Dockerfile
    healthCheckPath: /
    envVars:
      - key: MOVIEAPI1_HOST
        value: movieapi1.onrender.com
      - key: MOVIEAPI1_PORT
        value: "443"
      - key: MOVIEAPI2_HOST
        value: movieapi2.onrender.com
      - key: MOVIEAPI2_PORT
        value: "443"
      - key: DOWNSTREAM_SCHEME
        value: https

  - name: movieapi1
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: MovieAPI/Dockerfile
    envVars:
      - key: MongoDbSettings__ConnectionString
        value: mongodb://mongo:27017
      - key: MongoDbSettings__DatabaseName
        value: movie1
      - key: SyncServiceSettings__Host
        value: https://syncnode.onrender.com/sync
      - key: SyncServiceSettings__DeleteHttpMethod
        value: DELETE
      - key: SyncServiceSettings__UpsertHttpMethod
        value: POST

  - name: movieapi2
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: MovieAPI/Dockerfile
    envVars:
      - key: MongoDbSettings__ConnectionString
        value: mongodb://mongo:27017
      - key: MongoDbSettings__DatabaseName
        value: movie2
      - key: SyncServiceSettings__Host
        value: https://syncnode.onrender.com/sync
      - key: SyncServiceSettings__DeleteHttpMethod
        value: DELETE
      - key: SyncServiceSettings__UpsertHttpMethod
        value: POST

  - name: syncnode
    type: web
    env: docker
    branch: master
    plan: free
    dockerfilePath: SyncNode/Dockerfile
    envVars:
      - key: MovieAPISettings__Hosts__0
        value: https://movieapi1.onrender.com/api
      - key: MovieAPISettings__Hosts__1
        value: https://movieapi2.onrender.com/api

  - name: mongo
    type: web
    env: docker
    branch: master
    plan: free
    image:
      url: mongo:6.0
    autoDeploy: false
